<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m90143.pdm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.m90143.pdm.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfJNwz6w7yIhsbXKs6iNWv5gw1VgeL7I0" />

        <activity android:name=".MapsActivity" />
        <activity android:name=".TrabalhoPlayerActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".TrabalhoAddActivity" />
        <activity android:name=".TrabalhoActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".Main11Activity" />
        <activity android:name=".Rest2Activity" />
        <activity android:name=".RestActivity" />
        <activity android:name=".Main10Activity" />
        <activity android:name=".DesafioActivity"/>
        <activity android:name=".EstadoListView"/>
        <activity android:name=".TempActivity"/>
        <activity android:name=".PessoasListActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".Main8Activity" />
        <activity android:name=".Main7Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".RestauranteActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".PoupancaActivity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>